
/*Universal Selector*/
*{
  font-family: 'Open Sans', sans-serif;
}
.text-primary{
  color: #FD6E0A;
}
.primary-button{
  flex-shrink: 0;
  border-radius: 5px;
  background: #FD6E0A;
  border:0;
  font-size: 20px;
  font-weight: 700;
  color:#fff;
  padding:18px 35px;
}
.section-title{
  color: #181818;
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/*Nav related style*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 200px;
}
.nav-title{
  color:#181818;
  font-family: 'Open Sans', sans-serif;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
nav ul{
  display: flex;
  align-items: center;
}
nav ul a{
  text-decoration: none;
  color:#474747;
}
nav li{
  list-style: none;
  margin-right:50px;
}
/*header related style*/
.header{
  background-color: #fff8f3;
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner{
  padding:30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content{
  max-width: 490px;
}
.banner-content .banner-greeting{
  color:#474747;
  font-size: 35px;
  margin:0;
}
.banner-content .name{
margin-top: 5px;
color:#181818;
font-size: 60px;
margin-bottom: 3px;
}
.banner .banner-des{
  color:#757575;
  font-size: 16px;
  
}
.banner .profile{
  width:500px;
  border-radius: 5px;
}
/*Header section ends*/

.about{
  padding:130px;
  border-radius: 10px;
  background: #FFF8F3;
  margin: 130px 0;
}
.about .section-description{
  color:  #757575;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
